@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

h2 span {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.bg1 {
    background: url("https://i.ibb.co/dBLbrRV/bg1.jpg");
}

.bg2 {
    background: url("https://i.ibb.co/Fb5jb3J/bg2.jpg");
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 10px;

    @media screen and (min-width: 760px) {
        .card-wide {
            grid-column: span 2 / auto;
        }
    }
}

.container > div {
    cursor: pointer;
    height: 210px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.3s ease-in;

    &:hover {
        opacity: 0.7;
        transform: scale(0.98);
    }
}
