* {
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  // font-family: "Montserrat", sans-serif;
}

.container {
  background-color: pink;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  /* flex section tutorial - container properties */
  /* -------------------------------------------- */

  // flex-direction defaults to row
  // other props: row-reverse
  display: flex;

  // flex-wrap defaults to nowrap
  // flex-flow:  shortcut for flex wrap and flex direction
  // Props: 
  flex-wrap: wrap; 

  // Justify items: defaults to flex-start. Defines alignment
  // along main axis
  // main axis will depend on the flex direction (row by default)
  // Props: flex-start, flex-end, space-between, space-around,
  // space-evenly
  justify-content:center; 

  // Align items: default to stretch. Defines alignment along
  // the cross axis.
  // Props: center, stretch, baseline, flex-end, flex-start
  align-items: center;

  // CONFUSING!! Align content: same props as justify-content. Only works with
  // multiple lines of content or when wrap is set and the
  // content is wrapped into multiple lines.
  // Same props as align-items
  // align-content: center;

  .item {
    background-color: lightblue;
    margin: 0.5em;
  }
}
