.container {
    background: pink;
    height: 50vh;
    width: 50vw;
    padding: 0.5em;
    margin: 25vh auto 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .item {
        background: lightblue;
        margin: 0.5em;

        // flex grow

        &.one {
            // flex-grow 1 takes up all the available space for itself
            // defaults to 0
            // flex-grow: 1;

            // basis defines how much exactly you want the item to take
            flex-basis: 250px;
        }

        &.three {
            flex: 1;
        }
    }

}